       /*adicionar o meio central e o hover no menu social, adicionar email, grid, fotos*/
       
       body {
           background-color: #522B47;
           max-width: 1360px;
           margin: 0 auto;
       }
       
       header img {
           width: 150px;
           height: 150px;
           margin: 15px;
       }
       
       header .foto_principal img {
           width: 130px;
           height: 130px;
           border: 2px solid #FBF5F3;
           justify-content: left;
           border-radius: 50%;
       }
       
       header {
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           width: 100%;
           display: flex;
       }
       
       header ul {
           display: flex;
           justify-content: right;
           margin: -35px 30px;
           list-style-type: none;
       }
       
       #cabecalho {
           width: 80%;
       }
       
       #cabecalho h1 {
           font-size: 50px;
           color: #FBF5F3;
           margin: 25px 35px;
       }
       
       #cabecalho h2 {
           font-size: 40px;
           color: #8DAA9D;
           margin: 0px 40px;
           padding: 0px;
       }
       
       .menu_social img {
           width: 40px;
           height: 40px;
           margin-top: 150px;
           margin-bottom: 15px;
       }
       
       .menu_principal {
           border-bottom: 1px solid white;
           border-top: 1px solid white;
           background-color: #7B0828;
           font-size: 18px;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           height: 63px;
       }
       
       .menu_principal ul li a {
           text-decoration: none;
           margin: 60px;
           color: #0F0E0E;
           font-weight: 600px;
       }
       
       .menu_principal ul li a:hover {
           color: #8DAA9D;
           text-decoration: none;
       }
       
       .menu_principal ul {
           display: flex;
           justify-content: space-between;
           list-style-type: none;
           align-items: center;
           margin: 20px 35px;
       }
       
       main {
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           text-align: center;
           padding: 0px 50px;
       }
       
       main h3 {
           font-size: 30px;
           color: #8DAA9D;
       }
       
       main p {
           font-size: 20px;
           color: #FBF5F3;
       }
       
       main img {
           display: block;
           float: left;
           margin-left: 10px;
           margin-top: 20px;
       }
       
       #about {
           height: 500px;
       }
       
       #about h3 {
           display: right;
       }
       
       #portfolio {
           height: 500px;
       }
       
       #habilidades {
           height: 500px;
       }
       
       #hobbies {
           height: 500px;
       }
       
       #setup {
           height: 500px;
       }
       
       footer {
           border-top: 1px solid rgb(255, 255, 255);
           height: 110px;
           background-color: #7B0828;
       }
       
       footer p {
           font-size: 15px;
           margin: 10px;
       }