                   /*adicionar o meio central e o hover no menu social, adicionar email*/
                   
                   body {
                       background-color: #522B47;
                       margin: 0px;
                       padding: 0px;
                   }
                   
                   header img {
                       width: 150px;
                       height: 150px;
                       margin: 15px;
                   }
                   
                   header .foto_principal img {
                       width: 130px;
                       height: 130px;
                       border: 3px solid #FBF5F3;
                       justify-content: left;
                       border-radius: 50%;
                   }
                   
                   header {
                       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                       width: 100%;
                       display: flex;
                   }
                   
                   header ul {
                       display: flex;
                       justify-content: right;
                       margin: -35px 30px;
                       list-style-type: none;
                   }
                   
                   .menu_social img {
                       width: 40px;
                       height: 40px;
                       margin-top: 150px;
                       margin-bottom: 15px;
                   }
                   
                   #cabecalho {
                       width: 80%;
                   }
                   
                   #cabecalho h1 {
                       font-size: 50px;
                       color: #0F0E0E;
                       margin: 25px 35px;
                   }
                   
                   #cabecalho h2 {
                       font-size: 40px;
                       color: #8DAA9D;
                       margin: 0px 40px;
                       padding: 0px;
                   }
                   
                   .menu_principal {
                       border-bottom: 1px solid white;
                       border-top: 1px solid white;
                       background-color: #7B0828;
                       font-size: 18px;
                       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                       height: 63px;
                   }
                   
                   .menu_principal ul li a {
                       text-decoration: none;
                       margin: 80px;
                       color: #0F0E0E;
                   }
                   
                   .menu_principal ul li a:hover {
                       color: black;
                       text-decoration: none;
                   }
                   
                   .menu_principal ul {
                       display: flex;
                       justify-content: space-between;
                       list-style-type: none;
                       align-items: center;
                       margin: 20px 35px;
                   }
                   
                   main {
                       font-family: Arial;
                       text-align: center;
                       padding: 0px 50px;
                   }
                   
                   main h3 {
                       font-size: 30px;
                       color: #8DAA9D;
                   }
                   
                   main p {
                       font-size: 20px;
                       color: #FBF5F3;
                   }
                   
                   footer {
                       border-top: 1px solid rgb(255, 255, 255);
                       height: 110px;
                       background-color: #7B0828;
                   }
                   
                   footer p {
                       font-size: 15px;
                       margin: 10px;
                   }