               body {
                   background-color: black;
                   margin: 0px;
                   padding: 0px;
               }
               
               header img {
                   width: 150px;
                   height: 150px;
                   border-radius: 50%;
                   border: 5px solid white;
                   margin: 15px;
                   justify-content: left;
               }
               
               header {
                   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                   height: 180px;
               }
               
               #cabecalho h1 {
                   font-size: 50px;
                   color: rgb(91, 12, 128);
                   margin: 0px 180px;
               }
               
               #cabecalho h2 {
                   font-size: 40px;
                   color: white;
                   margin: 0px 185px;
                   padding: 0px;
               }
               
               .menu_principal {
                   border-bottom: 3px solid white;
                   border-top: 3px solid white;
                   background-color: rgb(186, 146, 204);
                   font-size: 18px;
               }
               
               ul {
                   display: flex;
                   justify-content: space-between;
                   list-style-type: none;
                   align-items: center;
               }
               
               .menu_social img {
                   width: 40px;
                   height: 40px;
               }
               
               main {
                   font-family: Arial;
                   text-align: center;
                   padding: 0px 50px;
               }
               
               main h3 {
                   font-size: 30px;
                   color: rgb(94, 27, 202);
               }
               
               main p {
                   font-size: 20px;
                   color: white;
               }
               
               footer {
                   border-top: 3px solid rgb(255, 255, 255);
                   height: 110px;
                   background-color: #8a2be2;
               }
               
               footer ul {
                   display: flex;
                   justify-content: right;
                   margin: -35px 30px;
                   list-style-type: none;
               }
               
               footer p {
                   font-size: 15px;
                   margin: 10px;
               }