            body {
                background-color: rgb(180, 177, 177);
                margin: 0px;
                padding: 0px;
            }
            
            div {
                border-bottom: 2px solid #666;
            }
            
            div h1 {
                font-family: Helvetica;
                font-size: 30px;
                color: rgb(91, 12, 128);
                margin: 10px;
            }
            
            div h2 {
                font-size: 20px;
                color: black;
                margin: 12px;
                padding: 0px;
            }
            
            section nav ul {
                list-style: none;
            }
            
            main h1 {
                font-style: helvetica;
                font-size: 45px;
                color: rgb(91, 12, 128);
                text-align: center;
            }
            
            main h2 {
                font-family: Arial;
                font-size: 30px;
                color: rgb(94, 27, 202);
                text-align: center;
            }
            
            main p {
                font-family: Arial;
                font-size: 20px;
                text-align: center;
            }
            
            main section nav img {
                border: 5px solid #666;
            }
            
            footer {
                border-top: 2px solid #666;
            }
            
            footer p {
                font-size: 15px;
                margin: 10px;
            }