                    body {
                        background-color: rgb(180, 177, 177);
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    header {
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    }
                    
                    #cabeçalho h1 {
                        font-size: 50px;
                        color: rgb(91, 12, 128);
                        margin: 10px;
                    }
                    
                    #cabeçalho h2 {
                        font-size: 40px;
                        color: black;
                        margin: 12px;
                        padding: 0px;
                    }
                    
                    #menu_principal {
                        border-bottom: 3px solid #666;
                        border-top: 3px solid #666;
                        background-color: rgb(186, 146, 204);
                    }
                    
                    #menu_principal ul {
                        list-style: none;
                    }
                    
                    #menu_social ul {
                        list-style: none;
                    }
                    
                    main #SOBRE_MIM h3 {
                        font-family: Arial;
                        font-size: 30px;
                        color: rgb(94, 27, 202);
                        text-align: center;
                    }
                    
                    main #SOBRE_MIM p {
                        font-family: Arial;
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    main #PORTFÓLIO h3 {
                        font-family: Arial;
                        font-size: 30px;
                        color: rgb(94, 27, 202);
                        text-align: center;
                    }
                    
                    main #PORTFÓLIO p {
                        font-family: Arial;
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    main #HABILIDADES h3 {
                        font-family: Arial;
                        font-size: 30px;
                        color: rgb(94, 27, 202);
                        text-align: center;
                    }
                    
                    main #HABILIDADES p {
                        font-family: Arial;
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    main #HOBBIES h3 {
                        font-family: Arial;
                        font-size: 30px;
                        color: rgb(94, 27, 202);
                        text-align: center;
                    }
                    
                    main #HOBBIES p {
                        font-family: Arial;
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    main #SETUP h3 {
                        font-family: Arial;
                        font-size: 30px;
                        color: rgb(94, 27, 202);
                        text-align: center;
                    }
                    
                    main #SETUP p {
                        font-family: Arial;
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    footer {
                        border-top: 3px solid #666;
                        height: 90px;
                        background-color: #8a2be2;
                    }
                    
                    footer p {
                        font-size: 15px;
                        margin: 10px;
                    }